{% extends "base.html" %} {% block content %}

<div id="editar_professor" class="container-ext center-page">

    <h1>EDITAR PROFESSOR</h1>

    <form action="/updateprofessor?key={{professor.key.urlsafe()}}" enctype="multipart/form-data" method="post">
        <div><label>Nome:</label></div>
        <div><input type="text" name="nome" required="true" value="{{professor.nome}}" /></div>
        <div><label>Área:</label></div>
        <div><input type="text" name="area" required="true" value="{{professor.area}}" /></div>
        <div><label>Perfil:</label></div>
        <div><input type="text" name="perfil" required="true" value="{{professor.perfil}}" /></div>
        <div><label>email:</label></div>
        <div><input type="text" name="email" required="true" value="{{professor.email}}" /></div>

        <input type="submit" value="Alterar">
    </form>
</div>

{% endblock %}